body,
html {
    background: #ca567d;
    font-family: 'Montserrat';
    /* size: "70%" */
}

#top-posts-title {
    margin: 1em;
    text-align: center;
    color: white
}

#search-post {
    color: white;
    text-align: center;
}

#top-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    float: left; 
    width: auto;
    height: 10em;

}

#content {
    display: flex;

}

aside {
    /* float: left; */
    width: auto;
    padding-right:5em;
    color: white;
    font-size: "1.3em";
}

.post {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 50%;
    height: 10em;
    max-height: 10em;
    margin: 0.5em 1em;
    padding: 0.5em 1em;
    border: 0.5px gray solid;
    border-radius: 0.2em;
    box-shadow: 2px 2px 0.5px 0.5px gray;
    background: #fff;
    opacity: 0.8;
}

.post:hover {
    opacity: 1.0;
    background: #DFDFDF;
    box-shadow: none;
}

.post-title {
    height: 100%;
    margin-left: 1em;
    font-size: 18px;
}

.post-img {
    height: 50%;
}
