<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Reddit Post Finder</title>
        <!-- Link to fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <!-- Link to CSS-->
        <link href="../static/css/index.css" rel="stylesheet">
    </head>

    <body> 
        <h1 id="top-posts-title">Top 10 posts for {{name}}</h1>
        <h2 id= "search-post">
            <label for="name"> Reddit Keyword Search: </label>
            <form action= "/handlesearch" method = "post">
            <input type="text" id="name" name="name" size="20">
            <input type="submit">
            </form>

        </h2>
        <div id= "content">

   
        <section>
          <div id="top-posts">
             
            {% if posts[0] %} 
                {% for post in posts[0] %}
                    <div class="post">
                        <img class="post-img" src="https://media.glassdoor.com/sqll/796358/reddit-squarelogo-1490630845152.png" />

                        <h2 class="post-title"> {{post.title}} </h2>
                    </div>  

                {% endfor %}
            {% endif %}

 

        </div>  
        </section>

        <aside>
            <h1>
                    {% if posts[2] %}
                    Most Used Words:
                    {% for top in posts[2] %}
                        <div class ="top10">
                            <h2 class ="top10-words" style = "font-size: 17px">
                                {{top,posts[1][top]}}
    
                            </h2>
                        </div>
                    {% endfor %}
                {% endif %}
            </h1>
        </aside>
    </div>
        
    </body>
</html>